@import "palette";

$all-class: "primary", "primary-light", "primary-dark", "secondary", "secondary-light", "secondary-dark", "background";
@each $cls in $all-class {
  .bgr-#{$cls} {
    background-color: colors(#{$cls});
  }
}

$view-height: 100vh;
$view-width: 95vw;
$header-height: 40px;
$content-margin: 10px;
$content-height: calc(#{$view-height} - #{$header-height});
$menu-width: 200px;
$content-width: calc(#{$view-width} - #{$menu-width});

.spc-content{
  width:$content-width;
  height: $content-height;
  margin: $content-margin;
}
spc-header{
  height:$header-height;
}
spc-side-bar{
  height:$view-height;
  width: $menu-width;
}

